body {
    margin: 0px;
}

.post {
    margin: auto;
    width: 50%;
}

#nav-container {
    
}

#nav {
    list-style-type: none;
    padding: 0px;
    background-color: #dbdbdb;
    margin: 0px 100px;
}

#nav li {
    display: inline-block;
    padding: 10px 10px;
}
